<div class="inner-content">
  <button style="margin-bottom: 10px;" nz-button nzType="primary" (click)="add()">
    <span>添加充值</span>
  </button>
  <nz-table [nzLoading]="loading"
            [nzData]="listOfData"
            [nzTotal]="currentData.total"
            [nzPageIndex]="currentData.current_page"
            [nzFrontPagination]="false"
            [nzPageSize]="currentData.per_page"
            (nzQueryParams)="onQueryParamsChange($event)">
    <thead>
    <tr>
      <th>充值订单编号</th>
      <th>钱包ID</th>
      <th>面额</th>
      <th>余额</th>
      <th>单位</th>
      <th>冻结充值</th>
      <th>充值渠道</th>
      <th>赠送</th>
      <th>创建时间</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of listOfData">
      <td>{{ data.order_sn}}</td>
      <td>{{ data.wallet_id}}</td>
      <td>{{ data.denomination}}</td>
      <td>{{ data.balance}}</td>
      <td>{{ data.unit_id}}</td>
      <td>{{ data.frozen}}</td>
      <td>{{ data.channel}}</td>
      <td>{{ data.gift}}</td>
      <td>{{ data.created_at }}</td>
      <td>
        <a (click)="update(data)">编辑</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a (click)="onDelete(data)">删除</a>
      </td>
    </tr>
    </tbody>
  </nz-table>
</div>
<nz-modal [(nzVisible)]="isVisible" nzTitle="编辑充值记录" (nzOnCancel)="handleCancel()">
  <div *nzModalContent>
    <form nz-form [formGroup]="validateForm">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="wallet_id">钱包ID</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" nzErrorTip="请输入钱包ID!">
          <input nz-input formControlName="wallet_id" id="wallet_id" placeholder="钱包ID"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="denomination">面额</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" nzErrorTip="请输入面额!">
          <nz-input-number formControlName="denomination" [nzSize]="'small'" [nzMin]="0" [nzMax]="10" [nzStep]="1" id="denomination"
                           placeholder="面额"></nz-input-number>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="unit_id">单位ID</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" nzErrorTip="请输入单位ID!">
          <input nz-input formControlName="unit_id" id="unit_id" placeholder="单位ID"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="channel">充值渠道</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" nzErrorTip="请选充值渠道!">
          <nz-radio-group formControlName="channel" id="channel">
            <label nz-radio nzValue="1">用户</label>
            <label nz-radio nzValue="2">平台</label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="frozen">冻结充值</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" nzErrorTip="请选择冻结充值!">
          <nz-switch formControlName="frozen" id="frozen"></nz-switch>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="gift">赠送充值</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" nzErrorTip="请选择赠送充值!">
          <nz-switch formControlName="gift" id="gift"></nz-switch>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">关闭</button>
    <button nz-button nzType="primary" (click)="handleOk()">保存</button>
  </div>
</nz-modal>
